<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Decety — тестирование сервиса</title>
    {% load static %}
    <meta name="description" content="Описание страницы">
	<meta name="keywords" content="Ключевые, слова, на, странице">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/contacts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/how-it-works.css' %}">
    <link rel="stylesheet" type="text/css" href="../../static/main/css/testing.css">

 	<link rel="shortcut icon" href="{% static 'main/img/favicon.png' %}" type="#">

	<meta property="og:title" content="">
	<meta property="og:description" content="Описание страницы">
	<meta property="og:type" content="article">
	<meta property="og:image" content="#">
	<meta property="og:site_name" content="">

    <script>
        function setSize(parameter) {
            document.getElementById(parameter + "-size").innerText
                = document.getElementById(parameter).value;
        }

        function changeSize(parameter, symbol) {
            let currentSize = parseInt(document.getElementById(parameter + "-size").innerText);
            let minSize = parseInt(document.getElementById(parameter).min);
            let maxSize = parseInt(document.getElementById(parameter).max);

            if (symbol === "+" && currentSize !== maxSize)
            {
                document.getElementById(parameter + "-size").innerText = currentSize + 1;
                document.getElementById(parameter).value = currentSize + 1;
            }
            if (symbol === "-" && currentSize !== minSize) {
                document.getElementById(parameter + "-size").innerText = currentSize - 1;
                document.getElementById(parameter).value = currentSize - 1;
            }
        }

        function hide(params) {
            document.getElementById("hide-" + params).style.display = "none";
            document.getElementById("show-" + params).style.cssText = "display: block; margin-left: 2.5vw";

            document.getElementById("img-" + params).style.display = "none";
            document.getElementById("parameter-" + params).style.display = "none";
            document.getElementById("div-" + params).style.padding = "calc(5px + 2vw) calc(5px + 15vw)";
        }
        function show(params) {
            document.getElementById("hide-" + params).style.cssText = "display: block; margin-left: 3vw";
            document.getElementById("show-" + params).style.display = "none";

            document.getElementById("img-" + params).style.display = "block";
            document.getElementById("parameter-" + params).style.display = "flex";
            document.getElementById("div-" + params).style.padding = "calc(5px + 5vw) calc(5px + 15vw)";
        }
    </script>
</head>
<body>
        <header>
            <div>
                <button><img src="{% static 'main/img/russian_flag.png'%}" alt="Сменить язык"></button>
                <a href="http://127.0.0.1:8000"><img src="{% static 'main/img/decety_top_logo.png' %}" alt="Decety — сервис виртуальной примерки одежды"></a>
                <a></a>
                <!--  <button><img src="{% static 'main/img/profile.png' %}" alt="Профиль"></button>  -->
            </div>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:8000/how-it-works">Как это работает</a></li>
                    <li><a href="#">Протестировать</a></li>
                    <!-- <li><a href="#">Сотрудничество</a></li> -->
                    <li><a href="http://127.0.0.1:8000/contacts">Контакты</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <!---------- Service section ---------->
            <section class="service">
                <h1>Тестирование сервиса</h1>
                <p>Чтобы протестировать сервис, введите свои персональные мерки</p>
            </section>

            <!---------- Parameters section ---------->
            <section class="parameters">
                <form action="get-parameters" method='POST'>

                    <div class="parameter" id="div-waist">
                        <div class="parameter-title">
                            <h3>Талия</h3>
                            <button onclick="hide('waist')" type="button" id="hide-waist">Скрыть</button>
                            <button onclick="show('waist')" type="button" id="show-waist" style="display: none">Показать</button>
                        </div>
                        <div class="parameter-img" id="img-waist">
                            <img src="{% static 'main/img/waist.png' %}" alt="Талия">
                        </div>
                        <div class="parameter-selector" id="parameter-waist">
                            <p>Следует наложить ленту горизонтально вокруг самого узкого места фигуры.</p>
                            <button onclick="changeSize('waist', '-')" type="button">—</button>
                            <h4 id="waist-size">115</h4>
                            <button onclick="changeSize('waist', '+')" type="button">+</button>
                            <span>см</span>
                            <label for="waist"></label><input type="range" name="waist" oninput="setSize('waist')" min="74" max="160" value="115" step="1" id="waist">
                        </div>
                    </div>

                    <div class="parameter parameter-grey" id="div-hips">
                        <div class="parameter-title">
                            <h3>Бёдра</h3>
                            <button onclick="hide('hips')" type="button" id="hide-hips">Скрыть</button>
                            <button onclick="show('hips')" type="button" id="show-hips" style="display: none">Показать</button>
                        </div>
                        <div class="parameter-img" id="img-hips">
                            <img src="{% static 'main/img/hips.png' %}" alt="Бёдра">
                        </div>
                        <div class="parameter-selector" id="parameter-hips">
                            <p>Нужно измерить полный обхват бедер, с учетом выступа живота спереди и по самым выпуклым точкам ягодиц сзади.</p>
                            <button onclick="changeSize('hips', '-')" type="button">—</button>
                            <h4 id="hips-size">125</h4>
                            <button onclick="changeSize('hips', '+')" type="button">+</button>
                            <span>см</span>
                            <label for="hips"></label><input type="range" name="hips" oninput="setSize('hips')" min="90" max="160" value="125" step="1" id="hips">
                        </div>
                    </div>

                    <div class="parameter" id="div-hand">
                        <div class="parameter-title">
                            <h3>Рука</h3>
                            <button onclick="hide('hand')" type="button" id="hide-hand">Скрыть</button>
                            <button onclick="show('hand')" type="button" id="show-hand" style="display: none">Показать</button>
                        </div>
                        <div class="parameter-img" id="img-hand">
                            <img src="{% static 'main/img/hand.png' %}" alt="Рука">
                        </div>
                        <div class="parameter-selector" id="parameter-hand">
                            <p>Лента должна проходить горизонтально вокруг самой широкой части руки.</p>
                            <button onclick="changeSize('hand', '-')" type="button">—</button>
                            <h4 id="hand-size">40</h4>
                            <button onclick="changeSize('hand', '+')" type="button">+</button>
                            <span>см</span>
                            <label for="hand"></label><input type="range" name="hand" oninput="setSize('hand')" min="20" max="60" value="40" step="1" id="hand">
                        </div>
                    </div>

                    <div class="parameter parameter-grey" id="div-chest">
                        <div class="parameter-title">
                            <h3>Грудь</h3>
                            <button onclick="hide('chest')" type="button" id="hide-chest">Скрыть</button>
                            <button onclick="show('chest')" type="button" id="show-chest" style="display: none">Показать</button>
                        </div>
                        <div class="parameter-img" id="img-chest">
                            <img src="{% static 'main/img/chest.png' %}" alt="Грудь">
                        </div>
                        <div class="parameter-selector" id="parameter-chest">
                            <p>Лента должна проходить горизонтально вокруг туловища по наиболее выступающим точкам груди.</p>
                            <button onclick="changeSize('chest', '-')" type="button">—</button>
                            <h4 id="chest-size">120</h4>
                            <button onclick="changeSize('chest', '+')" type="button">+</button>
                            <span>см</span>
                            <label for="chest"></label><input type="range" name="chest" oninput="setSize('chest')" min="88" max="150" value="120" step="1" id="chest">
                        </div>
                    </div>

                    <div class="parameter" id="div-height">
                        <div class="parameter-title">
                            <h3>Рост</h3>
                            <button onclick="hide('height')" type="button" id="hide-height">Скрыть</button>
                            <button onclick="show('height')" type="button" id="show-height" style="display: none">Показать</button>
                        </div>
                        <div class="parameter-img" id="img-height">
                            <img src="{% static 'main/img/height.png' %}" alt="Рост">
                        </div>
                        <div class="parameter-selector" id="parameter-height">
                            <p>Чтобы измерить рост, вам нужно опустить руки вдоль тела, расправить плечи, выпрямить спину. Ноги должны быть выпрямлены.</p>
                            <button onclick="changeSize('height', '-')" type="button">—</button>
                            <h4 id="height-size">175</h4>
                            <button onclick="changeSize('height', '+')" type="button">+</button>
                            <span>см</span>
                            <label for="height"></label><input type="range" name="height" oninput="setSize('height')" min="165" max="190" value="175" step="1" id="height">
                        </div>
                    </div>

                    {% csrf_token %}
                    <input type="submit" value="Отправить данные" id="submit"/>
                </form>
            </section>

            <!---------- Clothing test section ---------->
            <section class="clothing-test">
                <a name="clothing-test"></a>
                <h2>Начало использования</h2>
                <p>Выберите нужный размер, чтобы оценить посадку данной рубашки именно на вас</p>
                <div>
                    <div class="clothing-selector">
                        <img src="{% static 'main/img/selector.png' %}" alt="Выберите вещь">
                    </div>
                    <div class="clothing-view">
                        <img src="{% static 'main/img/photo360.png' %}" alt="Просмотр">
                    </div>
                    <div class="clothing-about">
                        <h3>Dsquared2</h3>
                        <p>рубашка в шотландскую клетку</p>
                    </div>
                </div>
            </section>

            <!---------- Test section ---------->
            <section class="test">
                <h2>Оцените посадку других вещей</h2>
                <div class="test-item">
                    <div class="decety-test-container">
                        <img src="{% static 'main/img/ckj-shirt.png' %}" alt="Рубашка с принтом Calvin Klein Jeans">
                    </div>
                    <h3>Calvin Klein Jeans</h3>
                    <p>рубашка с принтом</p>
                </div>
                <div class="test-item">
                    <div class="decety-test-container">
                        <img src="{% static 'main/img/t-shirt-alg.png' %}" alt="Футболка с контрастным логотипом ÀLG">
                    </div>
                    <h3>ÀLG</h3>
                    <p>футболка с контрастным логотипом</p>
                </div>
                <div class="test-item">
                    <div class="decety-test-container">
                        <img src="{% static 'main/img/prl-polo.png' %}" alt="Рубашка поло с вышитым логотипом Polo Ralph Lauren">
                    </div>
                    <h3>Polo Ralph Lauren</h3>
                    <p>рубашка поло с вышитым логотипом</p>
                </div>
            </section>
        </main>

        <footer>
            <div>
                <img src="{% static 'main/img/decety-logo-footer.png' %}" alt="Decety">
            </div>
            <div>
                <a href="https://www.youtube.com/channel/UCmImLz6SDuCHlwK089eKGxQ" target="_blank">
                    <img src="{% static 'main/img/youtube-icon.png' %}" alt="Decety на YouTube">
                </a>
                <a href="https://vk.com/decety" target="_blank">
                    <img src="{% static 'main/img/vk-icon.png' %}" alt="Decety в VK">
                </a>
                <a href="" target="_blank">
                    <img src="{% static 'main/img/facebook-icon.png' %}" alt="Decety на Facebook">
                </a>
                <a href="https://medium.com/@decety" target="_blank">
                    <img src="{% static 'main/img/medium-icon.png' %}" alt="Decety на Medium">
                </a>
                <a href="https://www.instagram.com/decety_ru" target="_blank">
                    <img src="{% static 'main/img/instagram-icon.png' %}" alt="Decety в Instagram">
                </a>
            </div>
            <div>
                <p><nobr class="phone">+7 (992) 015-93-15</nobr> Илья<br>
                    <nobr class="phone">+7 (982) 603-10-86</nobr> Марк</p>
                <p>innotec.decety@gmail.com</p>
            </div>
            <div>
                <p>Decety позволяет оценить посадку вещи до&nbsp;её&nbsp;заказа, облегчая поиск размера и&nbsp;сократить возвраты для интернет-магазинов.</p>
                <p>Если вам понравилась виртуальная примерочная, расскажите о&nbsp;ней друзьям, а&nbsp;также следите за&nbsp;нами в&nbsp;социальных сетях.</p>
            </div>
        </footer>
</body>
</html>